blog.
	Hello my name is ${name} 
	end and <br>
	only ${name} run at ${run}.  Below is a regression plot <br>
	$plot{?w=500&h=500&min=0,0&max=1,1&x=Save_qda$cls[0].colRate&y=Save_qda$cls[0].hitRate&label=PrCollision,PrHit&sort=Save_qda$cls[0].nsigma&label=PrCollision,PrHit&grid=1,1&debug=0&src=/regress?name=test4d4m-*}
	<br> and $embed{/regress.suitors} are my suitors.